body {
    font-family: "Roboto", sans-serif;
}

#search-text::placeholder {
    color: #000000;
    opacity: 1;
    /* Firefox */
}

main {
    font-size: .8rem;
}


.action-icon {
    color: #6C757D;
    border: 1px solid #6C757D;

    padding: .4rem;
    border-radius: 5px;
}